body {
  margin: 0;
  padding: 0;
}

/* header */

header {
  background: transparent;
  margin-bottom: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

header nav .logo {
  background-color: transparent;
  display: flex;
  justify-content: start;
  align-items: center;
  border: none;
}

header nav .logo img{
  width: 3rem;
  height: auto;
}

header nav .menu {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
}

header nav .menu .material-icons {
  font-size: 36px;
  color: #333;
}

/* main */

/* first-animation */
main .first-animation{
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

main .first-animation img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: popup 2s ease-out;
  -webkit-animation: popup 2s ease-out;
}

@keyframes popup {
  0%{
    transform: scale(0.3);
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
}
100%{
  transform: scale(1);
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
}


/* first-content */
main .first-content img {
  width: 100%;
  height: 100%;
}

main .first-content .first-content-details {
  margin-left: 6rem;
  margin-right: 6rem;
}

/* layout 1 */
main .first-content-layout {
  display: flex;
  margin: 3rem 12rem 3rem 12rem;
}

main .first-content-layout .content-layout-left,
main .first-content-layout .content-layout-right {
  flex: 1;
  padding: 2rem;
}

main .first-content-layout img {
  width: 100%;
}

main .first-content-layout .content-layout-left {
  background-color: bisque;
}

main .first-content-layout .content-layout-right {
  background-color: aliceblue;
}

/* layout 2 */
main .second-content-layout {
  display: flex;
  margin-left: 6rem;
  margin-right: 6rem;
}

main .second-content-layout .content-layout-left,
main .second-content-layout .content-layout-center,
main .second-content-layout .content-layout-right {
  flex: 1;
  padding: 3rem;
}

main .second-content-layout img {
  width: 100%;
}

main .second-content-layout .content-layout-left {
  background-color: bisque;
}

main .second-content-layout .content-layout-center {
  background-color:cadetblue;
}

main .second-content-layout .content-layout-right {
  background-color: aliceblue;
}

/* footer */
