html {
  font-family: "Playfair Display", serif;
}

body {
  margin: 0;
  padding: 0;
}

/* main */
/* first-animation */
main .first-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

main .first-animation img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  animation: popup 2s ease-out;
  -webkit-animation: popup 2s ease-out;
}

@keyframes popup {
  0% {
    transform: scale(0.3);
    opacity: 0;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    -ms-transform: scale(0.3);
    -o-transform: scale(0.3);
  }
  100% {
    transform: scale(1);
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

/* finish */

/* content-animation */
.content-animation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
}

.content-animation .contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-animation .contents img {
  width: 75%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.content-animation .contents .h-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.h-contents h3 {
  font-size: 1.8rem;
  margin: 0;
  padding: 0;
}

.content-animation .contents .p-contents {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.p-contents p {
  font-weight: 700;
  margin: 0 0 1.5rem 0;
  padding: 0;
}

.content-animation .animation {
  border-radius: 5rem;
  color: #000000;
  text-decoration: none;
  margin-bottom: 3rem;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  width: 50%;
  height: 60%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  -webkit-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -ms-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.content-animation .animation .animation-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
}

.content-animation .animation .animation-item img {
  margin: 2rem 0 1rem 0;
  width: 80%;
  height: auto;
  object-fit: cover;
}

.content-animation .animation .animation-item h1 {
  padding-top: 0;
  margin-top: 0;
}

.scroll-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

.progress-line {
  position: relative;
  width: 25%;
  height: 5px;
  background-color: #ddd;
  display: flex;
}

.progress-indicator {
  position: absolute;
  border-radius: 5rem;
  top: 0;
  left: 0;
  height: 1rem;
  background-color: #ff0000;
  width: 0%;
  transition: width 0.3s ease;
  margin-top: -0.35rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

.scroll-icons {
  font-size: 36px;
  cursor: pointer;
  color: #333;
  margin: 0 2rem;
}

/* third page */
.third-page {
  height: 100vh;
  padding: 2rem 12rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.third-page .content-section .text .up-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.third-page .content-section .text .up-text img {
  width: 20rem;
}

.third-page .content-section .text .up-text h1 {
  margin: 0;
  font-size: 1rem;
}

iframe{
  width: 560px;
  height: 315px;
}

.third-page .content-section .image {
  margin-left: 2rem;
}

.third-page .content-section .image img {
  object-fit: cover;
  width: 15rem;
}

.third-page .content-section .image p {
  margin: 0;
  font-weight: bold;
}

/* end third page */

/* fourth page */
.fourth-page {
  margin-top: -4rem;
  position: relative;
  height: 70vh;
  padding: 0 12rem;
  display: flex;
  flex-direction: column;
  z-index: 0;
  gap: 1rem;
}

.fourth-page .content-section .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fourth-page .content-section #down-content-text {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.fourth-page .content-section .text #up-text {
  padding-left: 22rem;
}

.fourth-page .content-section .text #down-text {
  padding-right: 14rem;
}

.fourth-page .content-section .text .link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  height: 4rem;
  gap: 1.5rem;
}

.fourth-page .content-section .text .link .readmore {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ff0012;
  width: 10rem;
  height: 2rem;
  border-radius: 0.7rem;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}

.fourth-page .content-section .text .link .readmore a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.fourth-page .content-section .text .link a {
  text-decoration: underline;
  color: #000000;
  font-weight: bold;
}

.fourth-page .content-section .text .link a #magazine-b,
.fourth-page .content-section .text .link a i {
  font-size: 1.5rem;
}

.fourth-page .content-section .text .link .instagram {
  margin-top: 0.3rem;
}

.fourth-page .content-section #up-image img {
  object-fit: cover;
  width: 20rem;
}

.fourth-page .content-section #up-image p {
  font-size: 0.8rem;
}

.fourth-page .content-section #down-image img {
  object-fit: cover;
  width: 16rem;
}

.fourth-page .content-section #down-image p {
  margin: 0.1rem;
}

.fourth-page #first-content {
  position: absolute;
  top: 2rem;
  right: 14rem;
}

.fourth-page #second-content {
  position: absolute;
  top: 15rem;
}

.fourth-page .content-section #up-image p {
  margin: 0;
  font-weight: bold;
}

/* end fourth page */

.content-section {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.content-section .text p {
  text-align: justify;
}

.content-section .text p:first-child {
  margin-top: 0;
}

/* finish */

/* media queries (responsive) */

@media (max-width: 1024px) {
  main .first-animation img {
    width: 80%;
    height: 70%;
    object-fit: cover;
    animation: popup 2s ease-out;
    -webkit-animation: popup 2s ease-out;
  }

  .content-animation .contents img {
    width: 80%;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .content-animation .animation {
    border-radius: 5rem;
    color: #000000;
    text-decoration: none;
    margin-bottom: 3rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
    width: 70%;
    height: 60%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    -webkit-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .content-animation .animation .animation-item img {
    margin: 2rem 0 1rem 0;
    width: 50%;
    height: auto;
    object-fit: cover;
  }
  
  .content-animation .animation .animation-item h1 {
    padding-top: 0;
    font-size: 1.4rem;
    margin-top: 0;
  }

  .img-header img {
    width: 40%;
  }
  /* third page */
  .third-page {
    height: 100%;
    padding: 1.5rem;
    gap: 1rem;
  }

  .third-page .content-section .text .up-text img {
    width: 12rem;
  }

  .video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .third-page .content-section .image {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .third-page .content-section .image img {
    object-fit: cover;
    width: 10rem;
  }

  .third-page .content-section .image p {
    margin: 0;
    font-weight: bold;
  }

  /* end third page */

  /* fourth page */
  .fourth-page {
    position: static;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .fourth-page .content-section .text #up-text,
  .fourth-page .content-section .text #down-text {
    padding: 0 2rem;
  }

  .fourth-page .content-section .text .link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
    height: 2rem;
    gap: 1rem;
  }

  .fourth-page .content-section .text .link .readmore {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ff0012;
    width: 10rem;
    height: 2rem;
    border-radius: 0.7rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
  }

  .fourth-page .content-section .text .link .readmore a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
  }

  .fourth-page .content-section .text .link a {
    text-decoration: underline;
    color: #000000;
    font-weight: bold;
  }

  .fourth-page .content-section .text .link a #magazine-b,
  .fourth-page .content-section .text .link a i {
    font-size: 1rem;
    margin: 0;
  }

  .fourth-page .content-section .text .link .instagram,
  .fourth-page .content-section .text .link .tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fourth-page .content-section #up-image,
  .fourth-page .content-section #down-image {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .fourth-page .content-section #up-image img,
  .fourth-page .content-section #down-image img {
    object-fit: cover;
    width: 50%;
  }

  .fourth-page .content-section #up-image p {
    font-size: 0.8rem;
  }

  .fourth-page .content-section #down-image p {
    margin: 0.1rem;
  }

  .fourth-page #first-content,
  .fourth-page #second-content {
    position: static;
  }

  .fourth-page .content-section #up-image p {
    margin: 0;
    font-weight: bold;
  }

  /* end fourth page */

  .content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .content-section .text p {
    text-align: justify;
    font-size: 0.9rem;
  }

  .content-section .text p:first-child {
    margin-top: 0;
  }
}

@media (max-width: 768px) {
  main .first-animation img {
    width: 90%;
    height: 20%;
    object-fit: cover;
    animation: popup 2s ease-out;
    -webkit-animation: popup 2s ease-out;
  }

  .content-animation .contents img {
    width: 70%;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .content-animation .animation {
    border-radius: 5rem;
    color: #000000;
    text-decoration: none;
    margin-bottom: 3rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
    width: 60%;
    height: 40%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    -webkit-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .content-animation .animation .animation-item img {
    margin: 2rem 0 1rem 0;
    width: 50%;
    height: auto;
    object-fit: cover;
  }
  
  .content-animation .animation .animation-item h1 {
    padding-top: 0;
    font-size: 1.4rem;
    margin-top: 0;
  }
}

@media (max-width: 364px){
  main .first-animation img {
    width: 80%;
    height: 20%;
    object-fit: cover;
    animation: popup 2s ease-out;
    -webkit-animation: popup 2s ease-out;
  }

  .content-animation .contents img {
    width: 60%;
    object-fit: cover;
    margin-bottom: 1rem;
  }

  .h-contents h3 {
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
  }

  .content-animation .animation {
    border-radius: 5rem;
    color: #000000;
    text-decoration: none;
    margin-bottom: 3rem;
    box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
    width: 80%;
    height: 40%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
    -webkit-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .content-animation .animation .animation-item img {
    margin: 2rem 0 1rem 0;
    width: 50%;
    height: auto;
    object-fit: cover;
  }
  
  .content-animation .animation .animation-item h1 {
    padding-top: 0;
    font-size: 1rem;
    margin-top: 0;
  }
}