<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UNIQLO | Unique Clothing</title>
    <link rel="stylesheet" href="../../styles/magazines/unique-clothing.css" />
    <!-- link css -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <!-- header -->
    <header class="header-container"></header>
    <!-- finish header -->

    <!-- sidebar -->
    <div class="sidebar-container"></div>
    <!-- finish sidebar -->

    <main>
      <div class="img-header">
        <img
          src="../../assets/magazine/LifeWear-Magazine.png"
          alt="LifeWear-Magazine"
        />
      </div>

      <!-- isi jumlah page -->
      <div class="first-page">
        <h1>Unique Clothing</h1>
        <p>Episode:07 Item:PUFFTECH</p>
        <p>
          A unique outfit will change habits. Changing habits means changing our
          lives. This is another story of the masterpieces that UNIQLO has
          created to this day.
        </p>
        <div class="row-section" id="first-row-section">
          <div class="column-section" id="first-first-section">
            <p>
              PUFFTECH is a blend of soft clothing and technology. The jacket is
              lightweight and warm, equipped with a high-performance insulation
              layer developed in collaboration with Toray Industries. Since the
              fall & winter of 2022, various new designs with diamond and block
              quilting designs have been launched as new item options. What sets
              PUFFTECH apart from Ultra Light Down, which is fifteen years old,
              is the animal-free artificial material, which although similar in
              appearance, will not clump like real animal fur. PUFFTECH comes in
              a variety of versatile designs. Hand-washable at home and
              quick-drying, it is highly functional for modern life. However,
              realizing these useful features is easier said than done. Since
              development began in 2019, PUFFTECH has been on a journey to
              become the ideal sweatshirt.
            </p>
          </div>

          <div class="column-section" id="first-second-section">
            <p>
              Outerwear can be very difficult to wash, but it's the clothing
              that gets the most use. That's why UNIQLO pioneered washable suits
              and knitwear, so that outerwear can be easily washed by hand.
              Ensuring PUFFTECH is hand-washable is just as important as the
              lightweight and warm design, although it does raise concerns that
              washing will damage the insulation layer. However, adding more
              stuffing would only make the garment heavy. The result of our hard
              work to solve this conundrum was filling the jacket with the
              latest 3D ultra-fine hollow fiber, which debuted through the Fall
              & Winter 2024 collection. Due to its unique construction, washing
              will not damage its shape. The high air content makes it light and
              warm. This series of small fillings revolutionizes insulation
              layers at UNIQLO, paving the way for the next generation of fall
              and winter collections. It feels like you are wearing air. Turn
              the page to learn more about PUFFTECH's ever-evolving charms.
            </p>
          </div>
        </div>
      </div>
      <div class="second-page">
        <div class="row-section" id="second-row-section">
          <div class="column-section" id="second-first-section">
            <img
              src="../../assets/magazine/unique-clothing/unique_1.png"
              alt="Unique Clothing Product"
            />
            <h1>PUFFTECH Relaxed Jacket</h1>
            <p>
              Jaket wanita dengan motif berlian yang chic. Desain 3D ultra-fine
              hollow fiber terbaru, yang cocok digunakan untuk beragam desain.
              Bersiluet cocoon dan terdapat celah di bagian samping.
            </p>
          </div>

          <div class="column-section" id="second-second-section">
            <img
              src="../../assets/magazine/unique-clothing/unique_2.png"
              alt="Unique Clothing Product"
            />
            <h1>PUFFTECH Jaket Parka</h1>
            <p>
              Jaket parka PUFFTECH untuk pria dengan motif balok yang unik.
              Berkat desain panel yang menyatu dengan rata dan lapisan anti air
              (water-repellent) yang dapat menghalau hujan ringan, jaket ini
              sempurna untuk segala situasi, baik kegiatan di perkotaan hingga
              aktivitas outdoor.
            </p>
            <div class="list-price" id="price-a">
              <div class="list-left">
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E469871-000"
                    >PUFFTECH Jaket Parka Rp 999.000</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="third-page">
        <h1>Habiskan Satu Hari bersama PUFFTECH</h1>
        <div class="row-section" id="third-row-section">
          <div class="column-section" id="third-first-section">
            <img
              src="../../assets/magazine/unique-clothing/unique_3.png"
              alt="Unique Clothing Product"
            />
            <p>
              This oversized PUFFTECH coat is part of the Uniqlo : C by Clare
              Waight Keller. Buttoned side slits give it a natural look, while
              four pockets on the chest and hips provide plenty of room for
              storage. Available in black (pictured) and khaki.
            </p>

            <div class="list-price">
              <div class="list-left">
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E472719-000"
                    >Rompi Rajut 3D Souffle Yarn Kerah V Rp 399.000</a
                  >
                </p>
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E470129-000"
                    >T-Shirt Katun Lembut Rileks | Lengan Panjang Rp 199.000</a
                  >
                </p>
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E470111-000"
                    >Tas Ransel Fungsional Rp 599.000</a
                  >
                </p>
              </div>
            </div>
          </div>

          <div class="column-section" id="third-second-section">
            <img
              src="../../assets/magazine/unique-clothing/unique_4.png"
              alt="Unique Clothing Product"
            />
            <p>
              This voluminous non-quilted PUFFTECH Parka Jacket has a placket
              closure that helps block the wind. This is a new product from
              Uniqlo U that is suitable for cyclists. Its water-repellent finish
              keeps you dry in drizzling rain. The hem is accented with ruffles
              that add interest to the loose fit.
            </p>

            <div class="list-price">
              <div class="list-left">
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E471183-000"
                    >Celana Parasut Fit Lear (UNIQLO :C) Rp 599.000</a
                  >
                </p>
                <p>
                  <a href="https://www.uniqlo.com/id/en/products/E470015-000"
                    >HEATTECH Beannie Rib Rp 149.000</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="fourth-page">
        <div class="row-section" id="fourth-row-section">
          <div class="column-section" id="fourth-first-section">
            <img
              src="../../assets/magazine/unique-clothing/unique_5.png"
              alt="Unique Clothing Product"
            />

            <p>
              Lightweight jackets and vests can be worn as tops or warm layers
              in a variety of situations. Its special coating helps prevent
              static electricity. Snap buttons allow you to fold the round
              collar into a V-collar, so you can try different styles.
            </p>

            <div class="list-price" id="price-a">
              <div class="list-right">
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E469429-000"
                    >Sweater Souffle Yarn Kerah Bulat Rp 399.000</a
                  >
                </p>
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E470129-000"
                    >T-Shirt Katun Lembut Rileks | Lengan Panjang Rp 199.000</a
                  >
                </p>
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E471626-000"
                    >Celana Drape Relax (UNIQLO U) Rp 699.000</a
                  >
                </p>
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E470094-000"
                    >Sepatu Clog (UNIQLO :C) Rp 599.000</a
                  >
                </p>
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E469421-000"
                    >Kemeja Katun Rp 399.000</a
                  >
                </p>
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E469828-000"
                    >Celana Chino Lebar Rp 499.000</a
                  >
                </p>
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E454612-001"
                    >Ikat Pinggang Gaun Skinny Rp 399.000</a
                  >
                </p>
              </div>
            </div>
          </div>

          <div class="column-section" id="fourth-second-section">
            <p>
              This diamond-print parka and collared jacket has a relaxed
              silhouette that is perfect for a variety of situations. The
              synthetic insulation lining does not shed easily and creates a
              neat look. This parka jacket is available in four colors for women
              and three colors for men.
            </p>

            <div class="list-price" id="price-b">
              <div class="list-left">
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E469871-000"
                    >PUFFTECH Jaket Parka Rp 999.000</a
                  >
                </p>
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E469438-000"
                    >Blus Gathered Lawn Lembut | Kotak Rp 399.000</a
                  >
                </p>
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E470122-000"
                    >T-Shirt Katun Rileks Siluat | Lengan 1/2 Rp 199.000</a
                  >
                </p>
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E450195-000"
                    >Jaket Fleece Ritsleting Rp 399.000</a
                  >
                </p>
                <p>
                  <a href="https://www.uniqlo.com/id/id/products/E450179-000"
                    >T-Shirt Soft Touch (Soft Brushed) Kerah Bulat Lengan
                    Panjang Rp 199.000</a
                  >
                </p>
              </div>
            </div>

            <img
              src="../../assets/magazine/unique-clothing/unique_6.png"
              alt="Unique Clothing Product"
            />
          </div>
        </div>
      </div>
    </main>

    <!-- footer -->
    <footer class="footer-container"></footer>
    <!-- finish footer -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="../../scripts/components-script.js"></script>
  </body>
</html>
