<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UNIQLO | Team Profile</title>
    <link rel="stylesheet" href="../styles/our-team.css" />
    <!-- link css -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <!-- header -->
    <header class="header-container-footer"></header>
    <!-- finish header -->

    <!-- sidebar -->
    <div class="sidebar-container-footer"></div>
    <!-- finish sidebar -->

    <main>
      <div class="img-header">
        <img
          src="../assets/magazine/LifeWear-Magazine.png"
          alt="LifeWear-Magazine"
        />
      </div>

      <!-- isi jumlah page -->

      <div class="first-page">
        <div class="first-section">
          <h1>Our Team</h1>
          <img src="../assets/ourteam/Our-Team.png" alt="Our Team Picture" />
        </div>
        <div class="second-section">
          <div class="bovilius">Bovilius Meidi<br />535230014</div>
          <div class="hansthobie">Hans Thobie Sachio<br />535230135</div>
          <div class="aldian">Aldian Yohanes<br />535230139</div>
        </div>
      </div>
      <div class="first-page-hidden"></div>
      <div class="second-page">
        <p>
          "Our team is a dynamic group of creative minds and tech enthusiasts
          dedicated to bringing innovative fashion concepts to life through our
          clothing magazine project."
        </p>
      </div>
      <div class="third-page"></div>
      <div class="fourth-page"></div>
      <div class="fifth-page"></div>
      <div class="sixth-page"></div>
      <div class="seventh-page"></div>
    </main>

    <!-- footer -->
    <footer class="footer-container-footer"></footer>
    <!-- finish footer -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="../scripts/components-script.js"></script>
  </body>
</html>
