<!DOCTYPE html>
<html ng-app="myApp">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UNIQLO</title>
  <link rel="stylesheet" href="../../styles/stores/product-detail.css" />
  <!-- link css -->
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <!-- header -->
  <header class="header-detail"></header>
  <!-- finish header -->

  <main>
    <div ng-controller="DetailProductController">
      <div class="product-container">
        <div class="product-image">
          <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img ng-src="{{ product.product_picture }}" class="d-block w-100" alt="Image 1">
              </div>
              <div class="carousel-item">
                <img ng-src="{{ product.product_picture_2 }}" class="d-block w-100"
                  alt="Image 2">
              </div>
              <div class="carousel-item">
                <img ng-src="{{ product.product_picture_3 }}" class="d-block w-100" alt="Image 3">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon custom-arrow" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
              <span class="carousel-control-next-icon custom-arrow" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="product-info">
          <h1 class="product-title">{{ product.product_name }}</h1>
          <p class="product-price">Rp {{ product.price | priceFormat }}</p>
          <p class="product-rating">★ 5.0 <span>(15)</span></p>
          <div class="quantity-control">
            <button ng-click="decreaseQuantity(product)" id="decrement">-</button>
            <span id="quantity">{{ product.selectedQuantity || 10 }}</span>
            <button ng-click="increaseQuantity(product)" id="increment">+</button>
          </div>
          <div class="size-selection">
            <button ng-repeat="size in product.sizes" ng-class="{'selected-size': size.size === product.selectedSize}"
              ng-if="size.stock > 0" ng-click="selectSize(size.size, size.stock, $index)">
              {{ size.size }}
            </button>
          </div>

          <button ng-click="addToCart(product)" class="add-to-cart"
            ng-disabled="product.selectedQuantity <= 0 || product.selectedQuantity > product.stock || !product.selectedSize">
            Add to Cart
          </button>

          <div class="extra-options">
            <a href="/frontend/views/magazines/favorite-magazine.html">
              <img src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png" alt="Favorite Icon"> Add To Favorite
            </a>
            <a href="#" onclick="shareProduct()">
              <img src="https://cdn-icons-png.flaticon.com/128/1358/1358023.png" alt="Share Icon"> Share
            </a>
          </div>
        </div>
      </div>
      <div class="product-description">
        <h2>Deskripsi</h2>
        <h3>Detail</h3>
        <p>{{ product.fitur }}</p>
        <hr>
        <p>{{ product.description }}</p>
        <hr>
        <h3>Material / Pertunjuk Perawatan</h3>
        <p>{{ product.material }}</p>
      </div>
      <!-- <div class="evaluation">
        <h1>Ulasan</h1>
        <hr>
        <h2>Love the design and quality</h2>
        <p>Absolutely love this KAWS jacket! The design is unique and eye-catching, blending streetwear style with a
          touch of art. The quality and attention to detail are impressive, and it's perfect for adding a bold statement
          to any outfit. Definitely a must-have for any KAWS fan or anyone who appreciates stylish, artistic outerwear!
        </p>
      </div> -->
    </div>
  </main>

  <!-- footer -->
  <footer class="footer-container"></footer>
  <!-- finish footer -->
  <script src="/frontend/scripts/product-detail.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="../../scripts/app.js"></script>
  <script src="../../scripts/components-script.js"></script>
  <script src="../../controllers/detailProductController.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>