<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UNIQLO Store</title>
  <link rel="stylesheet" href="../../styles/stores/store-landingpage.css" />
  <!-- link css -->
  <link
    href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <!-- header -->
  <header class="header-stores"></header>
  <!-- finish header -->

  <!-- sidebar -->
  <div class="sidebar-container"></div>
  <!-- finish sidebar -->

  <main>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <a href="/frontend/views/stores/products.html">
            <img src="https://im.uniqlo.com/global-cms/spa/res3a96a8a417ebc28b2d71f20c663f371ffr.jpg"
            class="d-block w-100" alt="Carousel_Pict1">
          </a>
        </div>
        <div class="carousel-item">
          <a href="/frontend/views/stores/products.html">
            <img src="https://im.uniqlo.com/global-cms/spa/res3b02810b7140af775b405dde66d6d2a4fr.jpg"
            class="d-block w-100" alt="Carousel_Pict2">
          </a>
        </div>
        <div class="carousel-item">
          <a href="/frontend/views/stores/products.html">
             <img src="https://im.uniqlo.com/global-cms/spa/res53de69104dd171f321e2fe77bfe8a5a6fr.jpg"
            class="d-block w-100" alt="Carousel_Pict2">
          </a>
        </div>
        <div class="carousel-item">
          <a href="/frontend/views/stores/products.html">
            <img src="https://im.uniqlo.com/global-cms/spa/res9dcb2e201514b7ae9f819dc1d6cad66dfr.jpg"
            class="d-block w-100" alt="Carousel_Pict2">
          </a>
        </div>
      </div>
    </div>

    <div class="container">
      <h1>Check Our Offer Below Here!</h1>
      <div class="row row-cols-4 g-3">
        <div class="col">
          <a href="/frontend/views/stores/products.html">
            <div class="card custom-card">
              <img src="/frontend/assets/stores/products/KemejaOxford_1.jpg" class="card-img-top" alt="Image 1">
            </div>
          </a>
        </div>
        <div class="col">
          <a href="/frontend/views/stores/products.html">
            <div class="card custom-card">
              <img src="/frontend/assets/stores/products/KemejaLuaranJersey_1.jpg" class="card-img-top" alt="Image 2">
            </div>
          </a>
        </div>
        <div class="col">
          <a href="/frontend/views/stores/products.html">
            <div class="card custom-card">
              <img src="/frontend/assets/stores/products/Sweater_1.jpg" class="card-img-top" alt="Image 3">
            </div>
          </a>
        </div>
        <div class="col">
          <a href="/frontend/views/stores/products.html">
            <div class="card custom-card">
              <img src="/frontend/assets/stores/products/KemejaBroadcloth_1.jpg" class="card-img-top" alt="Image 4">
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="third-page" id="about">
      <div class="content-section">
        <div class="text">
          <div class="up-text">
            <img src="/frontend/assets/magazine/LifeWear-Magazine.png" alt="LifeWear-Magazine" />
          </div>
          <p>
            LifeWear is clothing designed to make everyone's life better.
            Simple, high-quality essential clothing with a sense of beauty and craftsmanship in every detail.
            Designed and continuously developed to meet the needs of everyone's life.
          </p>
          <p>
            As a way of helping people around the world to explore the specifications of these garments and the
            concepts
            behind their production, we established LifeWear magazine.
          </p>
        </div>
      </div>
      <div class="content-section">
        <div class="image">
          <img src="/frontend/assets/magazine/Magazine-Book.png" alt="Magazine-Book" />
          <p>Artwork by Hanna Peterson</p>
        </div>
        <div class="text">
          <p>
            On June 2, 1984, the first store opened in Fukuromachi, Hiroshima Prefecture.
            At that time, the store was still called UNIQUE CLOTHING WAREHOUSE.
            Although the store name has changed now, our mission to create essential clothing that everyone can
            wear
            remains the same.
            Meanwhile, these classic items have gradually evolved, bringing better functionality with the latest
            materials to produce lighter garments and softer materials. We aim for these garments to become
            favorite
            items that you will wear for years. For this excellence to continue, it is important to constantly
            evaluate
            the entire manufacturing process.
          </p>
          <div class="readmore">
            <a href="/frontend/index.html"> Read More </a>
          </div>
        </div>
      </div>
    </div>

    <div class="video">
      <iframe
        src="https://www.youtube.com/embed/GOs5B1LAH14?si=roXce6-0p6feHmJG&autoplay=1&mute=1&loop=1&playlist=GOs5B1LAH14"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>

    <div class="container">
      <div class="row row-cols-4 g-3">
        <div class="col">
          <a href="/frontend/views/stores/products.html">
            <div class="card custom-card">
              <img src="/frontend/assets/stores/products/KemejaLuaranJersey_3.jpg" class="card-img-top" alt="Image 1">
            </div>            
          </a>
        </div>
        <div class="col">
          <a href="/frontend/views/stores/products.html">
            <div class="card custom-card">
              <img src="/frontend/assets/stores/products/JeansSlimFit_1.jpg" class="card-img-top" alt="Image 2">
            </div>
          </a>
        </div>
        <div class="col">
          <a href="/frontend/views/stores/products.html">
            <div class="card custom-card">
              <img src="/frontend/assets/stores/products/T-ShirtSoftTouch_2.jpg" class="card-img-top" alt="Image 3">
            </div>
          </a>
        </div>
        <div class="col">
          <a href="/frontend/views/stores/products.html">
            <div class="card custom-card">
              <img src="/frontend/assets/stores/products/JeansWarnaFitLebar_3.jpg" class="card-img-top" alt="Image 4">
            </div>
          </a>
        </div>
      </div>
    </div>

    
    
  </main>

  <!-- footer -->
  <footer class="footer-container"></footer>
  <!-- finish footer -->
  <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
  <script src="../../scripts/components-script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>