<style>
  footer .footer-layout {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-layout .heading h1 {
    text-align: center;
    margin: 0;
  }

  .footer-layout .name {
    display: flex;
    margin: 0.5rem;
    flex-direction: row;
    gap: 10rem;
  }

  .footer-layout .name p:hover {
    font-size: larger;
    text-shadow: -2px 2px #e0e0e0;
  }

  .footer-layout .name p {
    font-weight: bold;
    margin: 0.5rem;
    transition: font-size 0.3s ease, text-shadow 0.3s ease; /* Smooth transition */
  }

  .footer-layout .share {
    margin: 0;
    padding: 0;
  }

  .footer-layout .social-logo {
    display: flex;
    font-size: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 3rem;
  }

  .footer-layout .footer-logo {
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
    color: black;
  }

  @media (max-width: 768px) {
    .footer-layout .heading h1 {
      font-size: 1.5rem;
    }

    .footer-layout .name {
      gap: 1rem;
    }

    .footer-layout .name p {
      font-size: 1rem;
    }

    .footer-layout .social-logo {
      font-size: 2rem;
      gap: 1rem;
    }

    .footer-layout p.share {
      font-size: 1rem;
      margin: 0;
      padding: 0;
    }

    .footer-layout .footer-logo img {
      width: 30%;
    }
  }

  @media (max-width: 364px) {
    .footer-layout .heading h1 {
      font-size: 1.4rem;
    }

    .footer-layout .name {
      gap: 1rem;
    }

    .footer-layout .name p {
      font-size: 0.6rem;
    }

    .footer-layout .social-logo {
      font-size: 1rem;
      gap: 1rem;
    }

    .footer-layout p.share {
      font-size: 0.7rem;
      margin: 0;
      padding: 0;
    }

    .footer-layout .footer-logo img {
      width: 20%;
    }
  }
</style>

<footer>
  <div class="footer-layout">
    <div class="heading">
      <h1>Life Wear Magazine</h1>
    </div>

    <div class="name">
      <p><a href="../contents/our-team.html">Bovilius Meidi (535230014)</a></p>
      <p>
        <a href="../contents/our-team.html">Hans Thobie Sachio (535230135)</a>
      </p>
      <p><a href="../contents/our-team.html">Aldian Yohanes (535230139)</a></p>
    </div>

    <p class="share">Bagikan Halaman Ini</p>
    <div class="social-logo">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
    </div>

    <div class="footer-logo">
      <img src="assets/logo/Logo_1.png" alt="Logo Uniqlo" />
      <img src="assets/logo/Logo_2.png" alt="Logo Uniqlo" />
      <img src="assets/logo/Logo_3.png" alt="Logo Uniqlo" />
      <img src="assets/logo/Logo_4.png" alt="Logo Uniqlo" />
      <img src="assets/logo/Logo_5.png" alt="Logo Uniqlo" />
    </div>
  </div>
</footer>
