<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UNIQLO | Authentication</title>
    <link rel="stylesheet" href="../../styles/authentication/authentication-page.css" />
    <!-- link css -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <!-- header -->
    <header class="header-container"></header>
    <!-- finish header -->

    <!-- sidebar -->
    <div class="sidebar-container"></div>
    <!-- finish sidebar -->

    <main>
      <h1>Welcome UNIQLES</h1>
      <div class="row-section">
        <img
          src="/frontend/assets/magazine/what-are-timeless-tone/timeless_1.png"
          alt=""
        />
        <div class="column-section">
          <h2>
            Get Ready for a <br />
            Unique Experience at <br />UNIQLO
          </h2>
          <a href="/frontend/views/authentication/login.html">
            <button type="submit">LOGIN</button>
          </a>
          <a href="/frontend/views/authentication/register.html">
            <button type="submit">REGISTER</button>
          </a>
        </div>
      </div>
    </main>

    <!-- footer -->
    <!-- <footer class="footer-container"></footer> -->
    <!-- finish footer -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="../../scripts/components-script.js"></script>
  </body>
</html>
