:root {
  --primary-black: #000;
  --secondary-black: #616569
}

body {
  font-family: "Poppins", sans-serif;
}

.title-section {
  padding-top: 2vh;
  margin: 8rem;
  margin-bottom: 0;
}

.title-section .explore-header {
  font-weight: 800;
  font-size: 2.5rem;
  margin: 0;
}

.title-section .explore-paragraph {
  font-size: 1.5rem;
  margin: 0;
}

.category-tabs {
  margin: 8rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* max-width: 60rem; */
  border-bottom: 2px solid var(--primary-black);
}

.category-tabs .tab-link {
  flex: 1;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  background-color: #f9f9f9;
  border: none;
  outline: none;
  transition: 0.3s;
  font-size: 2rem;
}

.tab-link:active {
  border-bottom: 4px solid var(--primary-black);
}

.tab-link:hover {
  background-color: #ddd;
}

.action-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 8rem;
}

.search-bar input {
  outline: none;
  border: 1px solid --secondary-black;
  border-radius: 10rem;

  font-size: 1rem;
  height: 1rem;
  padding: 0.5rem;
}

.search-bar button {
  border: 0;
  font-size: 1.2rem;
  background-color: #f9f9f9;
  color: #000;
  transition: background-color 0.3s ease;
}

.sort-tabs {
  display: flex;
  flex-direction: row;
}

.sort-tabs button {
  background-color: #f9f9f9;
  outline: none;
  border: 1px solid var(--secondary-black);
  border-radius: 10rem;
  margin: 0 2rem 1rem 1rem;
  margin-left: 0;

  font-size: 1rem;
  color: var(--secondary-black);
  height: 2rem;
}

.sort-tabs button:active {
  border: 1px solid var(--primary-black);
  color: var(--primary-black);
}
/* General Layout */
.container {
  display: flex;
  gap: 20px;
  margin: 8rem;
  margin-top: 0;
  margin-bottom: 2rem;
  height: auto;
}

/* Filtering Sidebar */
.filter {
  width: 20%;
  border: 1px solid #ccc;
  padding: 0 20px;
  background: #f9f9f9;
  border-radius: 5px;
}
.filter h3 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.filter-section {
  margin: 0 0 1.5rem 0;
}

.filter-section input {
  margin-bottom: 1rem;
}
.filter-section h4 {
  margin: 0;
}

.filter-section .price {
  display: flex;
}
.filter-section .price-input {
  display: flex;
  gap: 0.5rem;
}
.filter-section .price-input input {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--secondary-black);

  font-size: 0.8rem;
  height: 1.5rem;
}

.filter label {
  display: block;
}
.reset-button {
  margin-bottom: 2rem;
  padding: 10px;
  border: 1px solid var(--primary-black);
  border-radius: 1rem;
  cursor: pointer;
}
.reset-button:hover {
  border-color: #d33;
  background-color: #ff9999;
  color: white;
  transform: scale(1.05);
}

/* Product List */
.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: left;
  background: white;
  max-height: 90vh;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  border-color: #aaa;
  cursor: pointer;
}
.products {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.product img {
  width: 100%;
  height: 300px;
  background: #eee;
}
.product p {
  margin: 0.5rem 0 0 0;
}
.products h2 {
  margin: 0;
}
.product h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}
.product p {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}
.rating {
  font-size: 0.9rem;
  color: #f90;
}

.pagination {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 10px; 
  margin-top: 20px;
}

.pagination button {
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 1rem; 
  width: 5rem;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  border: 1px solid #000;
}

.pagination button:disabled {
  background-color: #d6d6d6;
  cursor: not-allowed;
}

.pagination span {
  font-size: 14px;
  padding: 0 10px;
  color: #333;
}
