.carousel {
    margin-top: 5rem;
    position: relative;
    z-index: 0;
}

.carousel-inner {
    overflow: hidden;
}

.carousel-item img {
    object-fit: cover;
    height: 40rem; 
    width: 100%;
}



