/* first page */

.first-page {
    min-height: 110vh;
    margin: 0 16rem;
}

.first-page #first-section {
    justify-content: center;
    align-items: center;
}

.first-page #first-section .column-section {
    justify-content: center;
    align-self: center;
    margin-right: 6.6rem;
}

.first-page .row-section .column-section h1 {
    margin: 0;
    margin-top: 5rem;
    margin-right: 10rem;
    font-size: 5rem;
    font-weight: 200;
}

.first-page .row-section .column-section h1:first-child {
    margin-bottom: 1rem;
}

.first-page #only-p {
    margin:0;
}

.first-page .row-section {
    display: flex; 
    margin:0;       
    gap: 2rem;
    justify-content: center;
              
  }
  
.first-page #first-section img {
    width: 38rem;            
    height: 25rem;
    margin-top: 2rem;
    margin-right: 7rem;
}
  
.first-page #second-section img {
    width: 15rem;           
    height: 25rem;
}
/* end first page */

/* second page */
.second-page {
    min-height: 100vh;
    margin: 0 8rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: flex-start; 
}

.second-page #second-row-section {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 10rem; 
}

.second-page .column-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.second-page .row-section #second-first-section,
.second-page .row-section #second-second-section,
.second-page .row-section #second-third-section {
    width: 24rem; 
}

.second-page .column-section .gambar1 img {
    width: 36rem;
    height: 20rem;
    object-fit: none;
    margin-bottom: 0.5rem;
     
}

.second-page .column-section .video iframe{
    width: 560px;
    height: 315px;
}

.second-page .column-section .gambar2 img {
    width: 38rem;
    height: 19rem;
    object-fit: none;

    margin-left: 2rem;
}

.second-page .column-section h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
    width: 30rem;
    text-align: center;
    align-items: center;
}

.second-page .column-section p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 40rem;
    width: 130%;  
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-right: 4rem;
}

.second-page .subbab {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    max-width: 26rem;
    width: 100%;
    margin-right: 2.5rem; 
}

#price-a{
    font-weight: bold;
    margin-right: 1rem;
    width:100%;
    justify-content: flex;
    max-width: 100%;
}
  
#price-b{
    font-weight: bold;
    margin-left: 1rem;
    width:100%;
    justify-content: flex;
    max-width: 100%;
}

#price-tidy .list-right,
#price-buddies .list-right {
    margin-top: 0.5rem;
}

#price-a .list-right, 
#price-b .list-right {
    margin-top: 1rem;
}

#a{
    align-items: left;
    margin-right: 7rem;
}
/* end second page */

/* third page */
.third-page {
    height: 110vh;
    margin: 0 10rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: flex-start; 
}

.third-page #third-row-section {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 5rem; 
}

.third-page .column-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.third-page .row-section #third-first-section,
.third-page .row-section #third-second-section,
.third-page .row-section #third-third-section {
    width: 24rem; 
}

.third-page .column-section img {
    width: 23rem;
    height: 30rem;
    object-fit: cover;
    margin-bottom: 0.5rem; 
    margin-top: 1rem; 
}

.third-page .column-section h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
}

.third-page .column-section p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 26rem;
    width: 95%;  
}

#price-a{
    font-weight: bold;
    margin-right: 1rem;
    width:100%;
    justify-content: flex;
    max-width: 100%;
}
  
#price-b{
    font-weight: bold;
    margin-left: 1rem;
    width:100%;
    justify-content: flex;
    max-width: 100%;
}

#price-tidy .list-right,
#price-buddies .list-right {
    margin-top: 0.5rem;
}

#price-a .list-right, 
#price-b .list-right {
    margin-top: 1rem;
}
/* end third page */

/* fourth page */
.fourth-page {
    height: 105vh;
    margin: 0 10rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: flex-start; 
}

.fourth-page #fourth-row-section {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 10rem; 
}

.fourth-page .column-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fourth-page .row-section #fourth-first-section,
.fourth-page .row-section #fourth-second-section,
.fourth-page .row-section #fourth-third-section {
    width: 24rem; 
}

.fourth-page .column-section img {
    width: 26rem;
    height: 35rem;
    object-fit: cover;
    margin-bottom: 0.5rem; 
}

.fourth-page .column-section h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
}

.fourth-page .column-section p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 26rem;
    width: 120%;  
}
/* end fourth page */

/* fifth page */
.fifth-page {
    height: 115vh;
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
}

.fifth-page #fifth-row-section {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 6rem; 
}

.fifth-page .column-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fifth-page .row-section #fifth-first-section,
.fifth-page .row-section #fifth-second-section,
.fifth-page .row-section #fifth-third-section {
    width: 24rem; 
}

.fifth-page .column-section img {
    width: 26rem;
    height: 35rem;
    object-fit: cover;
    margin-bottom: 0.5rem; 
}

.fifth-page h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 500;
}

.fifth-page p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    max-width: 26rem;
    width: 100%;  
    margin-right: 1.5rem;
    margin-bottom: 2rem;
}

.fifth-page .subbab {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    max-width: 26rem;
    width: 100%;  
    margin-top: -1.5rem;
}

.fifth-page .column-section p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 26rem;
    width: 90%;  
}

#price-b{
    font-weight: bold;
    margin-left: 1rem;
    width:100%;
    justify-content: flex;
    max-width: 100%;
}

#price-tidy .list-right,
#price-buddies .list-right {
    margin-top: 0.5rem;
}

#price-a .list-right, 
#price-b .list-right {
    margin-top: 1rem;
}

.link {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    flex-direction: row;
    margin-top: -1rem;
    margin-bottom: 2rem;

}
  
.link a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
    margin-left: -1.5rem;
    
}
/* end fifth page */

/* sixth page */
.sixth-page {
    height: 105vh;
    margin: 0 10rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: flex-start; 
}

.sixth-page #sixth-row-section {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 10rem; 
}

.sixth-page .column-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sixth-page .row-section #sixth-first-section,
.sixth-page .row-section #sixth-second-section,
.sixth-page .row-section #sixth-third-section {
    width: 24rem; 
}

.sixth-page .column-section img {
    width: 26rem;
    height: 35rem;
    object-fit: cover;
    margin-bottom: 0.5rem; 
}

.sixth-page .column-section h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
}

.sixth-page .column-section p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 26rem;
    width: 120%;  
}
/* end sixth page */

/* seventh page */
.seventh-page {
    height: 130vh;
    margin: 0 10rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: flex-start; 
}

.seventh-page #seventh-row-section {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 5rem; 
}

.seventh-page .column-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.seventh-page .row-section #seventh-first-section,
.seventh-page .row-section #seventh-second-section,
.seventh-page .row-section #seventh-third-section {
    width: 24rem; 
}

.seventh-page .column-section img {
    width: 23rem;
    height: 30rem;
    object-fit: cover;
    margin-bottom: 0.5rem; 
    margin-top: 1rem; 
}

.seventh-page .column-section h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
    width:100%;
    max-width: 100%;
}

.seventh-page .column-section p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 26rem;
    width: 95%;  
}

#price-a{
    font-weight: bold;
    margin-right: 1rem;
    width:110%;
    justify-content: flex;
    max-width: 100%;
}
  
#price-b{
    font-weight: bold;
    margin-left: 1rem;
    width:100%;
    justify-content: flex;
    max-width: 100%;
}

#price-tidy .list-right,
#price-buddies .list-right {
    margin-top: 0.5rem;
}

#price-a .list-right, 
#price-b .list-right {
    margin-top: 1rem;
}
/* end seventh page */

/* Section */
.list-price {
    font-weight: bold;
    width:110%;
    justify-content: flex;
    max-width: 120%;
}

.list-left .list-right{
    width: 100%;
    text-align: center;
}

.list-price .list-left p {
    margin: 0;
    font-size: 0.9rem;
    text-align: left;
}

.list-price .list-right p {
    margin: 0;
    font-size: 0.9rem;
    text-align: right;
    width: 100%;
}

.list-price a:hover {
    color: red;
}

@media screen and (max-width: 520px) {
    .first-page  {
        min-height: 80vh;
        margin: 0 1rem;
        flex-direction: column;
        max-width: 100%;
    }
    .first-page .row-section .column-section {
        max-width: 100%;
        margin-right: 0;
    }
    .first-page #first-section .column-section {
        margin-right: 0rem;
    }
    .first-page .row-section .column-section h1 {
        margin-right: 0;
        font-size: 3rem;
        text-align: center;
    }
    .first-page .row-section .column-section p {
        text-align: center;
    }
    .first-page .row-section #second-row {
        max-width: 40%;
        background-color: red;
    }

    .first-page #first-section img {
        width: 100%;
        height: auto;
    }

    .first-page #second-section img {
        width: 100%;
        height: auto;
    }

    .second-page {
        margin: 0 1rem;
    }

    .second-page #second-row-section {
        flex-direction: column;
        gap: 2rem;
    }

    .second-page .column-section h1 {
        font-size: 1.8rem;
    }

    .second-page .column-section .gambar1 img,
    .second-page .column-section .gambar2 img {
        width: 100%;
        height: auto;
    }

    .second-page .column-section p {
        max-width: 100%;
        font-size: 1rem;
        margin: 1rem 0;
    }

    .second-page .column-section .video iframe {
        max-width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }

    .third-page {
        min-height: 220vh;
        margin: 0 1rem;
    }

    .third-page #third-row-section {
        flex-direction: column;
        gap: 2rem;
    }

    .third-page .column-section img {
        width: 100%;
        height: auto;
    }

    .third-page .column-section h1 {
        font-size: 1.8rem;
    }

    .fourth-page {
        min-height: 230vh;
        margin: 0 1rem;
    }

    .fourth-page #fourth-row-section {
        flex-direction: column;
        gap: 2rem;
    }

    .fourth-page .row-section .column-section p, 
    .fourth-page .row-section .column-section .list-price {
        max-width: 100%;
    }
    .fourth-page .column-section img {
        width: 100%;
        height: auto;
    }

    .fourth-page .column-section h1 {
        font-size: 1.8rem;
    }
    .fifth-page {
        min-height: 190vh;
        margin: 0 2rem;
    }

    .fifth-page #fifth-row-section {
        flex-direction: column;
        gap: 2rem;
    }

    .fifth-page .column-section img {
        width: 100%;
        height: auto;
    }

    .fifth-page h1 {
        font-size: 2.2rem;
    }

    .sixth-page {
        min-height: 220vh;
        margin: 0 1rem;
    }

    .sixth-page #sixth-row-section {
        max-width: 100%;
        flex-direction: column;
        gap: 2rem;
    }

    .sixth-page .row-section .column-section p, 
    .sixth-page .row-section .column-section .list-price {
        max-width: 100%;
    }

    .sixth-page .column-section img {
        width: 100%;
        height: auto;
    }

    .sixth-page .column-section h1 {
        font-size: 1.8rem;
    }

    .seventh-page {
        min-height: 240vh;
        margin: 0 2rem;
    }

    .seventh-page #seventh-row-section {
        flex-direction: column;
        gap: 2rem;
    }

    .seventh-page .column-section img {
        width: 100%;
        height: auto;
    }

    .seventh-page .column-section h1 {
        font-size: 1.8rem;
    }    /* 

.first-page .row-section .column-section h1 {
    margin: 0;
    margin-top: 5rem;
    margin-right: 10rem;
    font-size: 5rem;
    font-weight: 200;
}

.first-page .row-section .column-section h1:first-child {
    margin-bottom: 1rem;
}

.first-page #only-p {
    margin:0;
}

.first-page .row-section {
    display: flex; 
    margin:0;       
    gap: 2rem;
    justify-content: center;
              
  }
  
.first-page #first-section img {
    width: 38rem;            
    height: 25rem;
    margin-top: 2rem;
    margin-right: 7rem;
}
  
.first-page #second-section img {
    width: 15rem;           
    height: 25rem;
}

.second-page {
    height: 100vh;
    margin: 0 8rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: flex-start; 
}

.second-page #second-row-section {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 10rem; 
}

.second-page .column-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.second-page .row-section #second-first-section,
.second-page .row-section #second-second-section,
.second-page .row-section #second-third-section {
    width: 24rem; 
}

.second-page .column-section .gambar1 img {
    width: 36rem;
    height: 20rem;
    object-fit: none;
    margin-bottom: 0.5rem;
     
}

.second-page .column-section .video iframe{
    width: 560px;
    height: 315px;
}

.second-page .column-section .gambar2 img {
    width: 38rem;
    height: 19rem;
    object-fit: none;

    margin-left: 2rem;
}

.second-page .column-section h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
    width: 30rem;
    text-align: center;
    align-items: center;
}

.second-page .column-section p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 40rem;
    width: 130%;  
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-right: 4rem;
}

.second-page .subbab {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    max-width: 26rem;
    width: 100%;
    margin-right: 2.5rem; 
}

#price-a{
    font-weight: bold;
    margin-right: 1rem;
    width:100%;
    justify-content: flex;
    max-width: 100%;
}
  
#price-b{
    font-weight: bold;
    margin-left: 1rem;
    width:100%;
    justify-content: flex;
    max-width: 100%;
}

#price-tidy .list-right,
#price-buddies .list-right {
    margin-top: 0.5rem;
}

#price-a .list-right, 
#price-b .list-right {
    margin-top: 1rem;
}

#a{
    align-items: left;
    margin-right: 7rem;
}

.third-page {
    height: 110vh;
    margin: 0 10rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: flex-start; 
}

.third-page #third-row-section {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 5rem; 
}

.third-page .column-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.third-page .row-section #third-first-section,
.third-page .row-section #third-second-section,
.third-page .row-section #third-third-section {
    width: 24rem; 
}

.third-page .column-section img {
    width: 23rem;
    height: 30rem;
    object-fit: cover;
    margin-bottom: 0.5rem; 
    margin-top: 1rem; 
}

.third-page .column-section h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
}

.third-page .column-section p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 26rem;
    width: 95%;  
}

#price-a{
    font-weight: bold;
    margin-right: 1rem;
    width:100%;
    justify-content: flex;
    max-width: 100%;
}
  
#price-b{
    font-weight: bold;
    margin-left: 1rem;
    width:100%;
    justify-content: flex;
    max-width: 100%;
}

#price-tidy .list-right,
#price-buddies .list-right {
    margin-top: 0.5rem;
}

#price-a .list-right, 
#price-b .list-right {
    margin-top: 1rem;
}

.fourth-page {
    height: 105vh;
    margin: 0 10rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: flex-start; 
}

.fourth-page #fourth-row-section {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 10rem; 
}

.fourth-page .column-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fourth-page .row-section #fourth-first-section,
.fourth-page .row-section #fourth-second-section,
.fourth-page .row-section #fourth-third-section {
    width: 24rem; 
}

.fourth-page .column-section img {
    width: 26rem;
    height: 35rem;
    object-fit: cover;
    margin-bottom: 0.5rem; 
}

.fourth-page .column-section h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
}

.fourth-page .column-section p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 26rem;
    width: 120%;  
}

.fifth-page {
    height: 115vh;
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
}

.fifth-page #fifth-row-section {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 6rem; 
}

.fifth-page .column-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.fifth-page .row-section #fifth-first-section,
.fifth-page .row-section #fifth-second-section,
.fifth-page .row-section #fifth-third-section {
    width: 24rem; 
}

.fifth-page .column-section img {
    width: 26rem;
    height: 35rem;
    object-fit: cover;
    margin-bottom: 0.5rem; 
}

.fifth-page h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 500;
}

.fifth-page p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    max-width: 26rem;
    width: 100%;  
    margin-right: 1.5rem;
    margin-bottom: 2rem;
}

.fifth-page .subbab {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    max-width: 26rem;
    width: 100%;  
    margin-top: -1.5rem;
}

.fifth-page .column-section p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 26rem;
    width: 90%;  
}

#price-b{
    font-weight: bold;
    margin-left: 1rem;
    width:100%;
    justify-content: flex;
    max-width: 100%;
}

#price-tidy .list-right,
#price-buddies .list-right {
    margin-top: 0.5rem;
}

#price-a .list-right, 
#price-b .list-right {
    margin-top: 1rem;
}

.link {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
    flex-direction: row;
    margin-top: -1rem;
    margin-bottom: 2rem;

}
  
.link a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 1rem;
    margin-left: -1.5rem;
    
}

.sixth-page {
    height: 105vh;
    margin: 0 10rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: flex-start; 
}

.sixth-page #sixth-row-section {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 10rem; 
}

.sixth-page .column-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sixth-page .row-section #sixth-first-section,
.sixth-page .row-section #sixth-second-section,
.sixth-page .row-section #sixth-third-section {
    width: 24rem; 
}

.sixth-page .column-section img {
    width: 26rem;
    height: 35rem;
    object-fit: cover;
    margin-bottom: 0.5rem; 
}

.sixth-page .column-section h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
}

.sixth-page .column-section p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 26rem;
    width: 120%;  
}

.seventh-page {
    height: 130vh;
    margin: 0 10rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    align-items: flex-start; 
}

.seventh-page #seventh-row-section {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    gap: 5rem; 
}

.seventh-page .column-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.seventh-page .row-section #seventh-first-section,
.seventh-page .row-section #seventh-second-section,
.seventh-page .row-section #seventh-third-section {
    width: 24rem; 
}

.seventh-page .column-section img {
    width: 23rem;
    height: 30rem;
    object-fit: cover;
    margin-bottom: 0.5rem; 
    margin-top: 1rem; 
}

.seventh-page .column-section h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: 500;
    width:100%;
    max-width: 100%;
}

.seventh-page .column-section p {
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 26rem;
    width: 95%;  
}

#price-a{
    font-weight: bold;
    margin-right: 1rem;
    width:110%;
    justify-content: flex;
    max-width: 100%;
}
  
#price-b{
    font-weight: bold;
    margin-left: 1rem;
    width:100%;
    justify-content: flex;
    max-width: 100%;
}

#price-tidy .list-right,
#price-buddies .list-right {
    margin-top: 0.5rem;
}

#price-a .list-right, 
#price-b .list-right {
    margin-top: 1rem;
}

.list-price {
    font-weight: bold;
    width:110%;
    justify-content: flex;
    max-width: 120%;
}

.list-left .list-right{
    width: 100%;
    text-align: center;
}

.list-price .list-left p {
    margin: 0;
    font-size: 0.9rem;
    text-align: left;
}

.list-price .list-right p {
    margin: 0;
    font-size: 0.9rem;
    text-align: right;
    width: 100%;
}

.list-price a:hover {
    color: red;
} */
}