/* first page */

.first-page {
  height: 100vh;
  margin: 0 16rem;
}

.first-page #first-section {
  justify-content: end;
  align-items: end;
}

.first-page #second-section {
  gap: 4rem;
}

.first-page .row-section #direction-90 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  padding: 0;
  font-size: 2.4rem;
  color: rgba(0, 0, 0, 0.5);
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
}

.first-page #first-section .column-section {
  justify-content: end;
  align-self: end;
  margin-right: 6.6rem;
}

.first-page .row-section .column-section h1 {
  margin: 0;
  font-size: 5rem;
  font-weight: 200;
}

.first-page .row-section .column-section h1:first-child {
  margin-bottom: 1rem;
}

.first-page #only-p {
  margin: 0.5rem 16rem 0 0;
}

.first-page #second-section img {
  width: 14rem;
  object-fit: cover;
}

.first-page #second-section .column-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe{
  width: 460px;
  height: 260px;
}

.list-price a {
  text-decoration: none;
  color: black;
}
/* end first page */

/* second page */

.second-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin: 2rem 16rem;
  gap: 6rem;
}

.second-page .left-up-section {
  display: flex;
  flex-direction: row;
}

.second-page .left-up-section #direction-90 {
  font-size: 2rem;
  margin: 0;
  display: flex;
  transform: rotate(180deg);
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.second-page .left-up-section img,
.second-page .right-section img {
  width: 22rem;
}

.second-page .right-section {
  display: flex;
  flex-direction: column;
  width: 22rem;
}

#price-a{
  margin-left: 2rem;
}
/* end second page */

/* third page */
.third-page {
  height: 100vh;
  margin: 0 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-page .row-section {
  gap: 4rem;
}

.third-page .row-section .column-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30rem;
}

.third-page .row-section .column-section .up-image img {
  width: 30rem;
  margin-bottom: 3rem;
}

.third-page .row-section .column-section .down-image img {
  width: 18rem;
}

.third-page .row-section .column-section {
  display: flex;
  justify-content: start;
  align-items: start;
}

.third-page .row-section .column-section .container-biodata {
  margin-left: -1.4rem;
}

.third-page .row-section .column-section .container-biodata h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 500;
}

.third-page
  .row-section
  .column-section
  .container-biodata
  .caption-image
  p:last-child {
  margin-bottom: 0.7rem;
}

/* end third page */

/* fourth page */

.fourth-page {
  height: 100vh;
  margin: 0 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth-page .row-section {
  gap: 4rem;
}

.fourth-page .row-section img {
  width: 16rem;
}

.fourth-page .row-section .column-section .full-container {
  margin: 0;
  /* gap: 0; */
  /* display: flex; */
  flex-direction: column;
}

.fourth-page .row-section .column-section .container-biodata h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 500;
}

.fourth-page .row-section .column-section .container-biodata {
  margin-left: -1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.fourth-page .row-section .column-section .container-biodata .caption-image p {
  text-align: right;
}

.fourth-page .row-section #down-section-fourth p {
  width: 28rem;
  margin-top: 3rem;
  margin-left: -8rem;
}

.fourth-page .row-section .column-section .list-price {
  margin-top: 1rem;
  gap: 0;
  margin-bottom: 0;
}

.fourth-page .row-section .column-section .list-price .list-left,
.fourth-page .row-section .column-section .list-price .list-right {
  margin-bottom: 1rem;
}

/* end fourth page */

/* fifth page */

.fifth-page {
  height: 100vh;
  margin: 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fifth-page .row-section {
  gap: 3rem;
}

.fifth-page .row-section .column-section .list-price {
  margin: 0;
  padding: 0;
}

.fifth-page .row-section .column-section .bottom-caption {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fifth-page .row-section .column-section .bottom-caption h3 {
  margin: 0;
  font-weight: 200;
}

.fifth-page .row-section #fifth-first-section {
  width: 22rem;
}

.fifth-page .row-section #fifth-first-section img {
  width: 20rem;
}

.fifth-page .row-section #fifth-second-section {
  width: 20rem;
}

.fifth-page .row-section #fifth-second-section img {
  width: 20rem;
}

.fifth-page .row-section #fifth-third-section {
  width: 21rem;
}

.fifth-page .row-section .column-section .row-section {
  gap: 0.4rem;
}

.fifth-page .row-section .column-section .row-section h1 {
  writing-mode: vertical-lr;
  display: flex;
  font-weight: 200;
  justify-content: center;
  margin: 0;
  transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

/* end fifth page  */

/* sixth page */
.sixth-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin: 2rem 16rem;
  gap: 6rem;
}

.sixth-page .left-up-section {
  display: flex;
  flex-direction: row;
}

.sixth-page .left-down-section .list-price .list-left {
  margin-left: -2rem;
}

.sixth-page .left-down-section .list-price .list-right {
  margin-right: -4rem;
}

.sixth-page .left-up-section #direction-90 {
  font-size: 2rem;
  margin: 0;
  display: flex;
  transform: rotate(180deg);
  justify-content: center;
  align-items: center;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.sixth-page .left-up-section img,
.sixth-page .right-section img {
  width: 22rem;
}

.sixth-page .right-section {
  display: flex;
  flex-direction: column;
  width: 22rem;
}
/* end sixth page */

/* seventh page */
.seventh-page {
  height: 100vh;
  margin: 0 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seventh-page #seventh-row-section {
  gap: 3rem;
}

.seventh-page .row-section #seventh-first-section,
.seventh-page .row-section #seventh-second-section,
.seventh-page .row-section #seventh-third-section {
  width: 24rem;
}

.seventh-page .row-section .column-section .list-price {
  margin: 0;
}

.seventh-page .row-section .column-section img {
  width: 18rem;
  /* height: 24rem; */
  object-fit: cover;
}

.seventh-page .row-section .column-section p {
  margin: 0;
}

.seventh-page .row-section .column-section .row-section h1 {
  writing-mode: vertical-lr;
  display: flex;
  font-weight: 200;
  justify-content: center;
  margin: 0;
  transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: vertical-lr;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.seventh-page .row-section .column-section .column-section {
  margin-left: 2.3rem;
}

.seventh-page .row-section #seventh-third-section .list-price {
  width: 24rem;
}

/* end seventh page */

/* section */

.column-section {
  display: flex;
  flex-direction: column;
}

.row-section {
  display: flex;
  flex-direction: row;
  /* gap: 4rem; */
}

.caption-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}

.caption-image p {
  margin: 0;
  font-weight: bold;
  font-size: 0.8rem;
}

.link {
  margin-top: 0.3rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.4rem;
  flex-direction: row;
}

.link a {
  text-decoration: none;
  color: #000000;
  font-weight: 400;
  font-size: 1rem;
}

p {
  text-align: justify;
}

.list-price,
.list-left {
  margin: 0.5rem 0;
}

.list-price p {
  font-weight: bold;
  font-size: 0.8rem;
  margin: 0;
}

.list-left p {
  text-align: left;
}

.list-right p {
  text-align: right;
}

.list-price a:hover {
  color: red;
}

@media (max-width: 1080px) {
  .img-header img {
    width: 40%;
  }
  /* first page */

  .first-page {
    height: 100%;
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first-page #first-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .first-page #second-section {
    gap: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .first-page .row-section #direction-90 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
  }

  .first-page .row-section img {
    width: 5rem;
  }

  .first-page #first-section .column-section {
    justify-content: center;
    align-self: center;
    margin: 0rem;
    flex-direction: column;
  }

  .first-page .row-section .column-section h1 {
    font-size: 1.4rem;
    color: #000000;
    font-weight: 200;
  }

  .first-page .row-section .column-section h1:first-child {
    margin-bottom: 0.5rem;
  }

  .first-page #only-p {
    margin: 0;
    margin-top: 1rem;
  }

  .first-page #second-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .first-page #second-section .column-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first-page #second-section img {
    width: 16rem;
    object-fit: cover;
  }

  iframe{
    width: 44vw;
    height: 25vw;
  }

  /* end first page */

  /* second page */

  .second-page {
    height: 100%;
    display: flex;
    padding-top: 2rem;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin: 0 2rem;
    gap: 1rem;
  }

  .second-page .left-up-section {
    display: flex;
    flex-direction: row;
  }

  .second-page .left-up-section #direction-90 {
    font-size: 1.4rem;
    margin: 0;
    display: flex;
    transform: rotate(180deg);
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  .second-page .left-up-section img,
  .second-page .right-section img {
    width: 18rem;
  }

  .second-page .right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
  }

  #price-a{
    margin-left: 2rem;
  }

  /* end second page */

  /* third page */
  .third-page {
    height: 100%;
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .third-page .row-section {
    gap: 1rem;
    display: flex;
    width: 70%;
    flex-direction: row;
  }

  .third-page .row-section .column-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .third-page .row-section .column-section .up-image img {
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  .third-page .row-section .column-section .down-image img {
    width: 12rem;
  }

  .third-page .row-section .column-section {
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .third-page .row-section .column-section .container-biodata {
    margin-left: 0rem;
  }

  .third-page .row-section .column-section .container-biodata h1 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .third-page
    .row-section
    .column-section
    .container-biodata
    .caption-image
    p:last-child {
    margin-bottom: 0.7rem;
  }

  /* end third page */

  /* fourth page */

  .fourth-page {
    height: 100%;
    padding-top: 2rem;
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fourth-page .row-section {
    gap: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
  }

  .fourth-page .row-section img {
    width: 14rem;
  }

  .fourth-page .row-section .column-section .container-biodata h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
  }

  .fourth-page .row-section #down-section-fourth p {
    width: 100%;
    margin-top: 1rem;
    margin-left: 0rem;
  }

  .fourth-page .row-section #down-section-fourth{
    width: 60%;
  }

  /* end fourth page */

  /* fifth page */

  .fifth-page {
    height: 100%;
    margin: 0 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fifth-page .row-section {
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fifth-page .row-section .column-section .list-price {
    margin: 0;
    padding: 0;
  }

  .fifth-page .row-section .column-section .bottom-caption {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fifth-page .row-section .column-section .bottom-caption h3 {
    margin: 0;
    font-weight: 200;
  }

  .fifth-page .row-section #fifth-first-section,
  .fifth-page .row-section #fifth-first-section img,
  .fifth-page .row-section #fifth-second-section,
  .fifth-page .row-section #fifth-second-section img,
  .fifth-page .row-section #fifth-third-section {
    width: 18rem;
  }

  .fifth-page .row-section .column-section .row-section {
    gap: 0.4rem;
  }

  .fifth-page .row-section .column-section .row-section h1 {
    writing-mode: horizontal-tb;
    display: flex;
    font-weight: 200;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0;
    transform: rotate(0deg);
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  /* end fifth page  */

  /* sixth page */
  .sixth-page {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem;
    gap: 1rem;
  }

  .sixth-page .left-up-section {
    display: flex;
    flex-direction: row;
  }

  .sixth-page .left-down-section .list-price .list-left, .sixth-page .left-down-section .list-price .list-right {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .sixth-page .left-up-section #direction-90 {
    font-size: 1.2rem;
    margin: 0;
    display: flex;
    transform: rotate(180deg);
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  .sixth-page .left-up-section img,
  .sixth-page .right-section img {
    width: 18rem;
  }

  .sixth-page .right-section {
    display: flex;
    flex-direction: column;
    width: 18rem;
  }
  /* end sixth page */

  /* seventh page */
  .seventh-page {
    height: 100%;
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .seventh-page #seventh-row-section {
    gap: 1rem;
  }

  .seventh-page .row-section #seventh-first-section,
  .seventh-page .row-section #seventh-second-section,
  .seventh-page .row-section #seventh-third-section {
    width: 18rem;
  }

  .seventh-page .row-section .column-section .list-price {
    margin: 0;
  }

  .seventh-page .row-section .column-section img {
    width: 18rem;
    object-fit: cover;
  }

  .seventh-page .row-section .column-section p {
    margin: 0;
  }

  .seventh-page .row-section .column-section .row-section h1 {
    writing-mode: horizontal-tb;
    display: flex;
    font-weight: 200;
    justify-content: center;
    margin: 0;
    transform: rotate(0deg);
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

  .seventh-page .row-section .column-section .column-section {
    margin-left: 0rem;
  }

  .seventh-page .row-section #seventh-third-section .list-price {
    width: 18rem;
  }

  /* end seventh page */

  /* section */

  .column-section {
    display: flex;
    flex-direction: column;
  }

  .row-section {
    display: flex;
    flex-direction: column;
  }

  .caption-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0rem;
  }

  .caption-image p {
    margin: 0;
    font-weight: bold;
    font-size: 0.5rem;
  }

  .link {
    margin-top: 0.3rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.4rem;
    flex-direction: row;
  }

  .link a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 0.8rem;
  }

  p {
    text-align: justify;
    font-size: 0.8rem;
  }

  .list-price,
  .list-left {
    margin: 0.5rem 0;
  }

  .list-price p {
    font-weight: bold;
    font-size: 0.7rem;
    margin: 0;
  }

  .list-left p {
    text-align: left;
  }

  .list-right p {
    text-align: right;
  }
}

@media (max-width: 320px) {
  .img-header img {
    width: 40%;
  }
  /* first page */

  .first-page {
    height: 100%;
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .first-page #first-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .first-page #second-section {
    gap: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .first-page .row-section #direction-90 {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
  }

  .first-page .row-section img {
    width: 5rem;
  }

  .first-page #first-section .column-section {
    justify-content: center;
    align-self: center;
    margin: 0rem;
    flex-direction: column;
  }

  .first-page .row-section .column-section h1 {
    font-size: 1.4rem;
    color: #000000;
    font-weight: 200;
  }

  .first-page .row-section .column-section h1:first-child {
    margin-bottom: 0.5rem;
  }

  .first-page #only-p {
    margin: 0;
    margin-top: 1rem;
  }

  .first-page #second-section img {
    width: 12rem;
    object-fit: cover;
  }

  .video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
  }
  
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 45vw;
  }

  /* end first page */

  /* second page */

  .second-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 2rem;
    gap: 1rem;
  }

  .second-page .left-up-section {
    display: flex;
    flex-direction: row;
  }

  .second-page .left-up-section #direction-90 {
    font-size: 1.4rem;
    margin: 0;
    display: flex;
    transform: rotate(180deg);
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  .second-page .left-up-section img,
  .second-page .right-section img {
    margin-top: 2rem;
    width: 14rem;
  }

  .second-page .right-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #price-a{
    margin-left: 2rem;
  }

  /* end second page */

  /* third page */
  .third-page {
    height: 100%;
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .third-page .row-section {
    gap: 1rem;
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .third-page .row-section .column-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .third-page .row-section .column-section .up-image img {
    width: 14rem;
    margin-top: 2rem;
    margin-bottom: 0rem;
  }

  .third-page .row-section .column-section .down-image img {
    width: 14rem;
  }

  .third-page .row-section .column-section {
    display: flex;
    justify-content: start;
    align-items: start;
  }

  .third-page .row-section .column-section .container-biodata {
    margin-left: 0rem;
  }

  .third-page .row-section .column-section .container-biodata h1 {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .third-page
    .row-section
    .column-section
    .container-biodata
    .caption-image
    p:last-child {
    margin-bottom: 0.7rem;
  }

  /* end third page */

  /* fourth page */

  .fourth-page {
    height: 100%;
    padding-top: 2rem;
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fourth-page .row-section {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .fourth-page .row-section img {
    width: 14rem;
  }

  .fourth-page .row-section .column-section .container-biodata h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
  }

  .fourth-page .row-section #down-section-fourth p {
    width: 100%;
    margin-top: 1rem;
    margin-left: 0rem;
  }

  .fourth-page .row-section #down-section-fourth{
    width: 100%;
  }

  /* end fourth page */

  /* fifth page */

  .fifth-page {
    height: 100%;
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fifth-page .row-section {
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fifth-page .row-section .column-section .list-price {
    margin: 0;
    padding: 0;
  }

  .fifth-page .row-section .column-section .bottom-caption {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fifth-page .row-section .column-section .bottom-caption h3 {
    margin: 0;
    font-weight: 200;
  }

  .fifth-page .row-section #fifth-first-section,
  .fifth-page .row-section #fifth-first-section img,
  .fifth-page .row-section #fifth-second-section,
  .fifth-page .row-section #fifth-second-section img,
  .fifth-page .row-section #fifth-third-section {
    width: 18rem;
  }

  .fifth-page .row-section .column-section .row-section {
    gap: 0.4rem;
  }

  .fifth-page .row-section .column-section .row-section h1 {
    writing-mode: horizontal-tb;
    display: flex;
    font-weight: 200;
    justify-content: center;
    font-size: 1.5rem;
    margin: 0;
    transform: rotate(0deg);
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  /* end fifth page  */

  /* sixth page */
  .sixth-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 2rem;
    gap: 1rem;
  }

  .sixth-page .left-up-section {
    display: flex;
    flex-direction: row;
  }

  .sixth-page .left-down-section .list-price .list-left, .sixth-page .left-down-section .list-price .list-right {
    margin-left: 0rem;
    margin-right: 0rem;
  }

  .sixth-page .left-up-section #direction-90 {
    font-size: 1.2rem;
    margin: 0;
    display: flex;
    transform: rotate(180deg);
    justify-content: center;
    align-items: center;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
  }

  .sixth-page .left-up-section img,
  .sixth-page .right-section img {
    width: 18rem;
  }

  .sixth-page .right-section {
    display: flex;
    flex-direction: column;
    width: 18rem;
  }
  /* end sixth page */

  /* seventh page */
  .seventh-page {
    height: 100%;
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .seventh-page #seventh-row-section {
    gap: 1rem;
  }

  .seventh-page .row-section #seventh-first-section,
  .seventh-page .row-section #seventh-second-section,
  .seventh-page .row-section #seventh-third-section {
    width: 18rem;
  }

  .seventh-page .row-section .column-section .list-price {
    margin: 0;
  }

  .seventh-page .row-section .column-section img {
    width: 18rem;
    object-fit: cover;
  }

  .seventh-page .row-section .column-section p {
    margin: 0;
  }

  .seventh-page .row-section .column-section .row-section h1 {
    writing-mode: horizontal-tb;
    display: flex;
    font-weight: 200;
    justify-content: center;
    margin: 0;
    transform: rotate(0deg);
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

  .seventh-page .row-section .column-section .column-section {
    margin-left: 0rem;
  }

  .seventh-page .row-section #seventh-third-section .list-price {
    width: 18rem;
  }

  /* end seventh page */

  /* section */

  .column-section {
    display: flex;
    flex-direction: column;
  }

  .row-section {
    display: flex;
    flex-direction: column;
  }

  .caption-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0rem;
  }

  .caption-image p {
    margin: 0;
    font-weight: bold;
    font-size: 0.5rem;
  }

  .link {
    margin-top: 0.3rem;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.4rem;
    flex-direction: row;
  }

  .link a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    font-size: 0.8rem;
  }

  p {
    text-align: justify;
    font-size: 0.8rem;
  }

  .list-price,
  .list-left {
    margin: 0.5rem 0;
  }

  .list-price p {
    font-weight: bold;
    font-size: 0.7rem;
    margin: 0;
  }

  .list-left p {
    text-align: left;
  }

  .list-right p {
    text-align: right;
  }
}
