.first-page .first-section {
    text-align: center;
    font-size: 3rem;
}
.first-page .first-section h1:first-child {
    margin-bottom: -3rem;
}

.first-page .second-section {
    height: 120vh;
    margin: -6rem 10rem 0 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.first-page .left-container {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

.first-page .right-container {
    display: flex;
    flex-direction: column;
}

.first-page .right-container p {
    font-size: 14pt;
    line-height: 1.3;
    text-align: justify;
    box-sizing: border-box;
}

.first-page .left-container p {
    margin-top: 0rem;
    font-weight: bold;
}
.first-page .left-container img {
    width: 25rem;
}

.first-page .right-container img {
    display: flex;
    height: 18rem;
    width: 100%;
    object-fit: cover;
}

/* Second Page */
.second-page {
    height: 110vh;
    margin: 0 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.second-page .left-container {
    margin-right: 6rem;
}

.second-page .right-container {
    font-size: 14pt;
    line-height: 1.3;
    text-align: justify;
}

.second-page .right-container .rotate-section {
    text-align: center;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
}

.second-page img {
    width: 22rem;
}

.second-page .left-container .list-price {
    font-weight: bold;
    line-height: 0.5;
}

.second-page .left-container .list-price .list-right {
    margin-top: 4rem;
    margin-right: -4rem;
    text-align: right;
}


/* Third Page */
.third-page {
    height: 130vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3rem;
}

.third-page .first-col,
.third-page .second-col,
.third-page .third-col {
    max-width: 23%;
}

.third-page .first-col img,
.third-page .second-col img,
.third-page .third-col img { 
    width: 100%
}

.third-page .list-price .first-row {
    margin-bottom: 2rem;
}

.third-page .list-price .second-row {
    margin-bottom: 4rem;
}

.third-page .list-price .third-row {
    text-align: right;
}

.third-page .first-col { 
    font-size: 14pt;
    text-align: justify;
    line-height: 1.3;
}

.third-page .list-price p {
    font-weight: bold;
    line-height: 1;
}

.fourth-page {
    height: 130vh;
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
}

.fourth-page .first-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.fourth-page .first-row img,
.fourth-page .first-row #image {
    width: 40rem;
    margin-right: 3rem;
}

.fourth-page .first-row #text {
    font-size: 14pt;
    text-align: justify;
    line-height: 1.3;
}

.fourth-page .list-price {
    font-size: 1rem;
    font-weight: bold;
    line-height: 0.9;
}

.fourth-page .second-row {
    display: flex;
    flex-direction: row;
}

.fourth-page .second-row .first-col,
.fourth-page .second-row .second-col,
.fourth-page .second-row .third-col {
    max-width: 35%;
    margin-right: 3rem;
}

.fourth-page .second-row .second-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fourth-page .second-row img {
    width: 19rem;
}

.fourth-page .second-row .second-col {
    font-size: 1rem;
    font-weight: bold;
    line-height: 0.9;
}

.fourth-page .second-row .second-col .bottom-price {
    text-align: right;
}