h1 {
    font-weight: 100;
}

.first-page .first-section {
    text-align: center;
    font-size: 3rem;
}
.first-page .first-section h1:first-child {
    margin-bottom: -3rem;
}

.first-page .second-section {
    min-height: 110vh;
    margin: -6rem 10rem 0 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.first-page .left-container {
    display: flex;
    flex-direction: column;
    margin-right: 3rem;
}

.first-page .right-container {
    display: flex;
    flex-direction: column;
}

.first-page .right-container p {
    font-size: 1.2rem;
    line-height: 1.3;
    text-align: justify;
    box-sizing: border-box;
}

.first-page .left-container p {
    margin-top: 0rem;
    font-weight: bold;
}
.first-page .left-container img {
    width: 25rem;
}

.first-page .right-container img {
    display: flex;
    height: 18rem;
    width: 100%;
    object-fit: cover;
}

iframe{
    width: 560px;
    height: 315px;
}

/* Second Page */
.second-page {
    min-height: 110vh;
    margin: 0 10rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.second-page .left-container {
    margin-right: 6rem;
}

.second-page .right-container {
    font-size: 1.2rem;
    line-height: 1.3;
    text-align: justify;
}

.second-page .right-container .rotate-section {
    text-align: center;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -ms-writing-mode: vertical-lr;
}

.second-page img {
    width: 22rem;
}

.second-page .left-container .list-price {
    font-weight: bold;
    line-height: 0.5;
}

.second-page .left-container .list-price .list-right {
    margin-top: 4rem;
    margin-right: -4rem;
    text-align: right;
}


/* Third Page */
.third-page {
    min-height: 130vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 3rem;
}

.third-page .first-col,
.third-page .second-col,
.third-page .third-col {
    max-width: 23%;
}

.third-page .first-col img,
.third-page .second-col img,
.third-page .third-col img { 
    width: 100%
}

.third-page .list-price .first-row {
    margin-bottom: 2rem;
}

.third-page .list-price .second-row {
    margin-bottom: 4rem;
}

.third-page .list-price .third-row {
    text-align: right;
}

.third-page .first-col { 
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.3;
}

.third-page .list-price p {
    font-weight: bold;
    line-height: 1;
}

.fourth-page {
    min-height: 130vh;
    margin: 0 10rem;
    display: flex;
    flex-direction: column;
}

.fourth-page .first-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
}

.fourth-page .first-row img,
.fourth-page .first-row #image {
    width: 40rem;
    margin-right: 3rem;
}

.fourth-page .first-row #text {
    font-size: 1.2rem;
    text-align: justify;
    line-height: 1.3;
}

.fourth-page .list-price {
    font-size: 1rem;
    font-weight: bold;
    line-height: 0.9;
}

.fourth-page .second-row {
    display: flex;
    flex-direction: row;
}

.fourth-page .second-row .first-col,
.fourth-page .second-row .second-col,
.fourth-page .second-row .third-col {
    max-width: 35%;
    margin-right: 3rem;
}

.fourth-page .second-row .second-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.fourth-page .second-row img {
    width: 19rem;
}

.fourth-page .second-row .second-col {
    font-size: 1rem;
    font-weight: bold;
    line-height: 0.9;
}

.fourth-page .second-row .second-col .bottom-price {
    text-align: right;
}

a:hover {
    color: red;
}

@media screen and (max-width: 520px) {
    h1 {
        font-size: 2.5rem;
    }

    .first-page {
        min-height: 130vh;
    }
    .first-page .first-section {
        min-height: 3rem;
        margin-bottom: 2rem;
    }

    .first-page .second-section {
        flex-direction: column;
        margin: 0 2rem;
        align-items: center;
    }

    .first-page .left-container img {
        width: 100%;
    }

    .first-page .right-container {
        max-width: 100%
    }

    .first-page .right-container iframe {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        margin-bottom: 3rem;
    }
    .first-page .right-container p {
        font-size: 1rem;
        line-height: 1.2;
    }

    .second-page {
        min-height: 95vh;
        margin: 0 1rem;
        flex-direction: row;
        font-size: 1rem;
        gap: 0.7rem;
    }

    .second-page .left-container {
        max-width: 37%;
        margin-right: 0.2rem;
    }

    .second-page .left-container .list-price {
        flex-direction: column;
        max-width: 75%;
        line-height: 1;
    }

    .second-page .left-container .list-price .list-right {
        margin-top: 6rem;
        margin-right: -2rem;
        margin-left: 2rem;
        text-align: right;;
    }

    .second-page .left-container img {
        width: 100%;
    }

    .second-page .right-container {
        max-width: 63%;
        font-size: 1rem;
    }

    .second-page .right-container .rotate-section {
        max-width: 100%;
        width: 80%;
    }

    .second-page .right-container .rotate-section h2 {
        font-size: 1rem;
        line-height: 1;
    }
    .second-page .right-container .rotate-section img {
        width: 100%;
    }


    .third-page {
        min-height: 380vh;
        margin: 0 1rem;
        flex-direction: column;
        font-size: 1rem;
        gap: 0.7rem;
    }

    .third-page p {
        font-size: 1rem;
        line-height: 1.2;
    }
    .third-page .first-col,
    .third-page .second-col,
    .third-page .third-col {
        max-width: 90%;
    }
    
    .fourth-page {
        margin: 0 1rem;
        flex-direction: column;
    }

    .fourth-page .first-row {
        max-width: 100%;
        flex-direction: column;
    }

    .fourth-page .first-row img {
        width: 70%;
    }

    .fourth-page .first-row p {
        font-size: 1rem;
        line-height: 1.2;
    }

    .fourth-page .second-row {
        margin: 0;
        max-width: 100%;
        flex-direction: column;
}
    .fourth-page .second-row .first-col, 
    .fourth-page .second-row .second-col,
    .fourth-page .second-row .third-col {
        max-width: 100%;
        margin-right: 0;
    }

    .fourth-page .second-row img {
        width: 100%;
    }
}