/* first page */
.first-page {
  height: 100vh;
  margin: 0 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-page #first-section {
  justify-content: center;
  align-items: center;
}

.first-page #second-section {
  gap: 4rem;
}

.first-page #first-section .column-section {
  justify-content: center;
  align-self: center;
}

.first-page .row-section .column-section h1 {
  margin: 0;
  margin-top: 1rem;
  font-size: 4rem;
  display: flex;
  font-weight: 200;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.first-page .row-section .column-section h1:first-child {
  margin-bottom: 1rem;
  margin-top: -3rem;
}

.first-page #second-section .column-section {
  display: flex;
  justify-content: center;
}

.first-page #second-section .column-section img {
  width: 45rem;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-page #second-section .row-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.first-page #second-section .text-awal {
  position: relative;
  margin-top: -1rem;
  margin-right: 6rem;
  padding: 2rem;
  width: 38%;
  box-sizing: border-box;
  text-align: justify;
  font-size: 14pt;
}

.first-page  #second-section .row-section .produk img {
  display: flex;
  width: 5rem;
  height: 10rem;
  object-fit: cover;
}

.first-page #second-section .row-section .produk2 img {
  display: flex;
  height: 10rem;
  width: 14rem;
  object-fit: cover;
}
/* end first page */

/* second page */

.second-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  margin: 2rem 16rem;
  gap: 5rem;
}

.second-page .up-section{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-self: left; 
}

.second-page .up-section .left-section {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-self: left;
}

.second-page .up-section .left-section img {
  display: flex;
  margin-top: 1rem;
  width: 25rem;
}

.second-page #second-section .column-section img {
  width: 45rem;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .second-page .up-section .right-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

/* end second page */