/* third page */
.third-page {
height: 110vh;
margin: 0 10rem;
display: flex;
justify-content: center;
margin-top: 2rem;
align-items: flex-start; 
}

.third-page #third-row-section {
display: flex;
flex-direction: row; 
justify-content: center;
gap: 10rem; 
}

.third-page .column-section {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
}

.third-page .row-section #third-first-section,
.third-page .row-section #third-second-section,
.third-page .row-section #third-third-section {
width: 24rem; 
}

.third-page .column-section img {
width: 26rem;
height: 35rem;
object-fit: cover;
margin-bottom: 0.5rem; 
}

.third-page .column-section h1 {
margin: 0;
font-size: 2.5rem;
font-weight: 500;
}

.third-page .column-section p {
font-size: 1rem;
line-height: 1.5;
text-align: justify;
max-width: 26rem;
width: 120%;  
}
/* end sixth page */

/* Section */
.list-price {
font-weight: bold;
width:110%;
justify-content: flex;
max-width: 120%;
}

.list-left .list-right{
width: 100%;
text-align: center;
}

.list-price .list-left p {
margin: 0;
font-size: 0.9rem;
text-align: left;
}

.list-price .list-right p {
margin: 0;
font-size: 0.9rem;
text-align: right;
width: 100%;
}