/* first page */
.first-page {
  height: 85vh;
  padding: 2rem 12rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.first-page .content-section .text .up-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-page .content-section .text .up-text img {
  width: 20rem;
}

.first-page .content-section .text .up-text h1 {
  margin: 0;
  font-size: 1rem;
}

.first-page .content-section .video img {
  width: 40rem;
  height: 15rem;
}

.first-page .content-section .image {
  margin-left: 2rem;
}

.first-page .content-section .image img {
  object-fit: cover;
  width: 15rem;
}

.first-page .content-section .image p {
  margin: 0;
  font-weight: bold;
}

/* end first page */

/* second page */
.second-page {
  position: relative;
  height: 70vh;
  padding: 0 12rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.second-page .content-section .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second-page .content-section #down-content-text{
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.second-page .content-section .text #up-text {
  padding-left: 22rem;
}

.second-page .content-section .text #down-text{
  padding-right: 14rem;
}

/* TODO */
.second-page .content-section .text .link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  height: 4rem;
  gap: 1.5rem;
}

.second-page .content-section .text .link .readmore{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #FF0012;
  width: 10rem;
  height: 2rem;
  border-radius: 0.7rem;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}

.second-page .content-section .text .link .readmore a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.second-page .content-section .text .link a{
  text-decoration: underline;
  color: #000000;
  font-weight: bold;
}

.second-page .content-section .text .link a #magazine-b, .second-page .content-section .text .link a i{
  font-size: 1.5rem;
}

.second-page .content-section .text .link .instagram{
  margin-top: 0.3rem;
}

.second-page .content-section #up-image img {
  object-fit: cover;
  width: 20rem;
}

.second-page .content-section #up-image p{
  font-size: 0.8rem;
}

.second-page .content-section #down-image img {
  object-fit: cover;
  width: 16rem;
}

.second-page .content-section #down-image p{
  margin: 0.1rem;
}

.second-page #first-content{
  position: absolute;
  top: 2rem;
  right: 14rem;

}

.second-page #second-content{
  position: absolute;
  top: 15rem;
}

.second-page .content-section #up-image p {
  margin: 0;
  font-weight: bold;
}

/* end second page */

.content-section {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.content-section .text p {
  text-align: justify;
}

.content-section .text p:first-child {
  margin-top: 0;
}
