/* first page */
.first-page {
  position: relative;
  height: 100vh;
  margin: 0 14rem;
}

.first-page .text {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.first-page .text h1 {
  margin: 0;
  font-weight: 100;
  font-size: 5rem;
}

.first-page .text p {
  margin: 0;
}

.first-page #content-section-2 {
  position: absolute;
  top: 20rem;
  left: 10rem;
  right: 8rem;
}

/* end first page */

/* second page */
.second-page {
  position: relative;
  height: 100vh;
}

.second-page #content-section-3 {
  position: absolute;
  right: 24rem;
  left: 14rem;
}

.second-page #content-section-4 {
  position: absolute;
  top: 18rem;
  left: 26rem;
  right: 18rem;
}

/* end second page */

/* third page */
.third-page {
  position: relative;
  height: 100vh;
}

.third-page #content-section-5 {
  position: absolute;
  right: 20rem;
  left: 20rem;
}

.third-page #content-section-6 {
  position: absolute;
  top: 16rem;
  left: 10rem;
  right: 45rem;
  display: flex;
  gap: 0rem;
  flex-direction: column;
}

.third-page #content-section-7 {
  position: absolute;
  display: flex;
  top: 10rem;
  left: 52rem;
  right: 5rem;
  gap: 0rem;
  flex-direction: column;
}

/* end third page */

.content-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.text-section h3 {
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
}

.readmore {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.7rem;
  background-color: #ff0000;
  width: 12rem;
  height: 2rem;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
}

.readmore a {
  text-decoration: none;
  font-weight: bold;
  color: #000000;
}

.up-section {
  display: flex;
  flex-direction: row;
}

.up-section h3 {
  display: flex;
  align-self: self-end;
  font-weight: 500;
  font-size: 2rem;
  margin: 0;
}

.down-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  margin-left: 6rem;
}

/* image section */
#image-1 {
  object-fit: cover;
  width: 18rem;
}

#image-2 {
  object-fit: cover;
  height: 22rem;
}

#image-7 {
  object-fit: cover;
  height: 24rem;
}

/* finish image section */

/* text section */
#text-section-1 {
  align-self: start;
}

/* finish text section */
